h1 {
    color:rgb(170, 7, 170);
}
.header{
    background-color:lightblue;
    display:flex;
    justify-content:space-between;
}
.grid{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
}

.footer{
    display:flex;
    justify-content:flex-end;
}

h3 {
    text-align:center;   
}                      
body{
  background-color:#8E62D1
}